@font-face {
    font-family: PP mori;
    src: url(ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
    background-image: url("media/Desktop\ -\ 5.png");
    background-size: cover;
}


#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
   mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
a
{
    text-decoration: none;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 500;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1 span{
    font-style: italic;
    color: #FF3D00;
}
.page1 span:hover
{
    -webkit-text-stroke: 2px #fff;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;

    margin-left: 26vw;
}

.page1 video{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #111;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-btn
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#btn1 {
    display: inline-block;
    position: relative;
    padding: 18px 50px;
    color: #ffffff;
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
  }
  
  #btn1 span {
    display: block;
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease 0s, height 0.6s ease 0s;
    z-index: -1;
  }
  
  #btn1:hover span {
    width: 562px;
    height: 562px;
  }
  #btn1:hover 
  {
    color: #FF3D00;
    font-weight: 1200;
  }
  
#btn2 {
    display: inline-block;
    position: relative;
    padding: 18px 50px;
    color: #ffffff;
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
  }
  
  #btn2 span {
    display: block;
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease 0s, height 0.6s ease 0s;
    z-index: -1;
  }
  
  #btn2:hover span {
    width: 562px;
    height: 562px;
  }
  #btn2:hover 
  {
    color: #FF3D00;
    font-weight: 1200;
  }
.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.page4 h1
{
    display:flex;
    justify-content: center;
    font-size:2.2vh ;

}
.elements
{
    padding-top: 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
    height:15vw;
}
.elem img:nth-child(3){
    right: 5%;
    height: 30vw;
}
.text-div{
    height: 8vw;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
    color: #111;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: white;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}
.page5
{
    width:100vw;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    gap:50px;
}

.page5 h1
{
    font-size:30px;
    font-weight: 500;
    text-transform: uppercase;
}
.container5
{
    width:100%;
    padding:0 2em;
}
.container5 .item
{
    -webkit-box-direction: 100%;
    padding:0.125em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size:80px;
    border-bottom:2px solid #c4bca9 ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.item:nth-child(1)
{
    border-top:2px solid #c4bca9;
}
.img
{
    width:125px;
    height:100px;
    background-color: transparent;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    flex:0;
    overflow: hidden;
}
.img dotlottie-player
{
    width:125px;
    height:auto;
    object-fit: cover;
}
.item:hover
{
    gap:20px;
}
.item:hover .img
{
    flex:0.1;
}
.item {
    transition: background-color 1s ease-in-out;
}

.item:hover {
    background-color: #c4bca9;
}
.item:hover .word
{
    color: black;
}

.w1
{
    text-align:right;
}

footer{
    min-height: 50vh;
    width: 100%;
    background-color: #111111;
}

#white1{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #c4bca9;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}

#white2{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #c4bca9;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}
#white3{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #c4bca9;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 34px));
    }
}
#marq {
    padding: 25px 0;
    width: 100%;
    background-color: #c4bca9;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index:101;
    pointer-events: none;
    opacity:1;
    padding-top: 50vh;
}

#marq::-webkit-scrollbar {
    display: none;
}

#marq h1 {
    color: #FF3D00;
    font-size: 100px;
    font-family: pp mori;
    font-weight: 300;
    display: inline-block;
    /* background-color: red; */
    animation-timing-function: linear;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}